@model IEnumerable<string>

@if (Model != null && Model.Any())
{
    <div class="table-responsive">
        <table style="max-height: 200px; border-color: lightgray" class="table table-bordered">
            <thead>
                <tr>
                    <th style="background-color: lightgray">Questions</th>
                    <th style="background-color: lightgray"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model)
                {
                    <tr>
                        <td>@question</td>
                        <td>
                            <!-- Use a data attribute to store the question -->
                            <a href="#" class="delete-question-link" data-question="@question">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}
else
{
    <span style="color: orange">No Questions yet!</span>
}
