@model Asst.Models.AddQnModel
@{
    ViewData["Title"] = "AddQuestions";


}
<style>
    body{
        overflow:hidden;
    }
</style>
<div class="view-qn">
    <div class="main-content">
        <form method="post" action="/Questions/AddQuestions">
            <h5>Keyword:</h5>
            <input asp-for="Topic" class="add-qn" type="text" name="topic" placeholder="Enter a Topic">
            <h5>New Question:</h5>
            <input asp-for="Question" class="add-qn" type="text" name="question" placeholder="Enter a new question">
            <h5>For adults or children:</h5>
            <input asp-for="Type" type="radio" id="adults" name="type" value="2">
            <label for="adults">Adults</label><br>
            <input asp-for="Type" type="radio" id="children" name="type" value="1">
            <label for="children">Children</label><br>
            <button class="new-qn" type="submit">Submit</button>
        </form>
    </div>
</div>



<!-- Dropdown List for Topics-->
@* @using (Html.BeginForm("GetTopic", "QuestionsController", FormMethod.Post))
        {
        @Html.DropDownListFor(model => model.SelectedItemId, Model.DropdownItems, "Select an item")
        <input type="submit" value="Submit" />
        } *@