@model IEnumerable<Asst.Models.QuestionModel>

@{
    ViewBag.Title = "DeleteQuestionschild";
    var topics = ViewData["CitiesList"] as List<SelectListItem>;
}

<style>
    body {
        overflow: hidden;
    }
</style>

<div class="view-qn">
    <div class="main-content">
        <h5>Keyword:</h5>

        @using (Html.BeginForm("Delete", "Questions", FormMethod.Post, new { id = "topicForm" }))
        {
            <div class="form-group">
                <label for="topic">Select Topic:</label>
                @{
                    var defaultTopic = Model?.FirstOrDefault()?.Topic ?? "";
                }
                @Html.DropDownListFor(model => defaultTopic, topics, new { @class = "form-control", id = "topicDropdown" })
            </div>
        }
        <div id="questionsContainer">
            @await Html.PartialAsync("_QuestionsPartialchild", Model)
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        $('#topicDropdown').change(function () {
            var selectedTopic = $(this).val();
            $.ajax({
                url: '@Url.Action("GetQuestionsByTopicchild", "Questions")',
                type: 'GET',
                data: { topic: selectedTopic },
                success: function (result) {
                    $('#questionsContainer').html(result);
                    // Add click event handler for delete links
                    $('.delete-question-link').click(function (e) {
                        e.preventDefault();
                        var question = $(this).data('question');
                        deleteQuestion(selectedTopic, question);
                    });
                },
                error: function (error) {
                    console.error(error);
                }
            });
        });

        function deleteQuestion(topic, question) {
            // Add a confirmation dialog
            if (confirm("Are you sure you want to delete this question?")) {
                $.ajax({
                    url: '@Url.Action("DeleteQuestionchild", "Questions")',
                    type: 'POST',
                    data: { topic: topic, question: question },
                    success: function () {
                        // Refresh the questions after deletion
                        $('#topicDropdown').change();
                    },
                    error: function (error) {
                        console.error(error);
                    }
                });
            }
        }
    });
</script>
