html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
    position: relative;
    height: 100%;
    width:100%;
}

body {
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    width: 100%;
}

.startbutton {
    background-color: rgb(42, 166, 209);
    color: white;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
    transition: background-color 0.3s ease;
}

.startbutton:hover {
    color:white;
    background-color: rgb(34, 111, 137);
}

.message {
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    display: inline-block;
}

.msgcontent {
    white-space: pre-line;
}

.user {
    background-color: #d4edda;
    margin-left: 0px;
}

.response {
    background-color: #cce5ff;
}

.chat {
    width: 100%;
    height:100%;
    color: white;
    background-color: rgb(66, 66, 66);
    padding: 30px;
    margin: 0 0 0 0;
}