@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Asst</title>
    <link rel="icon" type="image/x-icon" href="/images/logo.png">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<style>
    body{
        overflow:hidden;
    }
</style>
<body>
    <div class="home">
    <div class="container">
        <div class="row">
            <div class="col-5" style="padding-top:9%;">
                <img src="~/images/logo.png" style="color:black;height:25%;border-radius:50%" />
                <h1><b>OptoAssist</b></h1>
                <h3>Enhance your practice with precision.</h3>
                <h4>Master the art of history taking!</h4>
                <br />
                    <a href="~/Questions/AskQuestions" style="text-decoration:none;color:#082b2a;"><button class="btn btn-custom"><b>Start</b></button></a>
            </div>
        </div>
    </div>
    </div>
</body>
</html>