@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewData["Title"] - Asst</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<style>
    body{
        overflow:hidden;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-5" style="padding-top:9%;">
                <img src="~/images/logo.png" style="height:25%;border-radius:50%" />
                <h1><b>OptoAssist</b></h1>
                <h3>Enhance your practice with precision.</h3>
                <h4>Master the art of history taking!</h4>
                <br />
                <a href="~/Questions/AskQuestions"><button class="btn btn-custom">Start</button></a>
            </div>
            <div class="col-7">
                <img src="~/images/background.png" style="height:100vh;"/>
            </div>
        </div>
    </div>
</body>
</html>